{% extends "layout.html" %}
{% block content%}
<form method="POST" action="">
    <center>
    <H1>Enter new user details </H1> <br>
    First Name <input type = "text" name= "firstname" /> <br>
    Last Name <input type = "text" name = "lastname" /> <br>
    Email <input type = "text" name = "email" /> <br>
    <input type = "submit">
    </center>
</form>

<div>{{msg}}</div>

<div>
        {% for item in datav %}
            <tr>
                <td> {{item}} </td>
                </br>
            </tr>
        {% endfor %}
</div>

{% endblock %}

